/*
Homework #5 - Robo Dealer

Peter Caliandro
WEB 150
Winter 2018
February 26, 2018

styles.css

*/

* {
    font-family: "Times New Roman";
}
h1 {
    font-size: 80px;
    margin: 1em;
}
hr#bottom {
    margin-bottom: 4em;
}
button {
    font-size: 40px;
    margin: 1em;
}
span.cards {
    font-size: 100px;
    margin: 1em;
}
span.message {
    font-size: 40px;
    margin: 1em;
}           
